In [167]:
import pandas as pd

In [168]:
data=pd.read_csv("synthetic_customer_data.csv")

In [169]:
data.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,402,37,3,148194.77,2,1,0,19807.02,1
1,735,49,2,153438.97,3,1,1,20164.24,0
2,570,24,6,164558.07,3,0,1,5456.18,1
3,406,69,7,148842.33,1,1,1,193701.38,1
4,371,58,3,136207.89,2,1,1,6024.49,0

In [170]:
data.isnull().sum()

CreditScore        0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [171]:
input_data=data.iloc[:,:-1]
output_data=data.iloc[:,-1]

In [172]:
from sklearn.preprocessing import StandardScaler




ss=StandardScaler()

input_data=pd.DataFrame(ss.fit_transform(input_data),columns=input_data.columns)

In [173]:
input_data

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,-1.179523,-0.574687,-0.540635,0.896044,-0.042959,1.083473,-1.0,-1.357603
1,0.777923,0.243373,-0.873334,0.990119,1.184450,1.083473,1.0,-1.351725
2,-0.191982,-1.460919,0.457461,1.189583,1.184450,-0.922958,1.0,-1.593758
3,-1.156010,1.606806,0.790159,0.907661,-1.270369,1.083473,1.0,1.503964
4,-1.361747,0.856918,-0.540635,0.681014,-0.042959,1.083473,1.0,-1.584406
...,...,...,...,...,...,...,...,...
195,0.266518,-1.597262,-0.873334,0.341955,-0.042959,-0.922958,-1.0,0.817262
196,0.583942,0.720575,0.457461,0.262749,-0.042959,1.083473,1.0,0.929920
197,0.248884,-1.665434,-0.873334,-0.403449,-0.042959,-0.922958,1.0,-1.043711
198,1.218789,-1.529091,-1.206032,-0.551716,1.184450,1.083473,-1.0,0.872311
199,-0.920881,1.129605,1.455556,1.465328,1.184450,1.083473,-1.0,1.438498

In [174]:
import tensorflow
from keras.layers import Dense
from keras.models import Sequential

In [175]:
ann=Sequential()

In [176]:
input_data.shape

(200, 8)

In [177]:
ann.add(Dense(6,input_dim=8,activation='relu'))
ann.add(Dense(4,activation='relu'))
ann.add(Dense(2,activation='relu'))
ann.add(Dense(1,activation='sigmoid'))

c:\Users\Asus\100DaysML\MODELS\SingleLayerPrecepton\.venv\lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [178]:
ann.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [179]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(input_data,output_data,test_size=0.2,random_state=1)

In [180]:
ann.fit(x_train,y_train,batch_size=10,epochs=10)

Epoch 1/10
16/16 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - accuracy: 0.3619 - loss: 0.7321
Epoch 2/10
16/16 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.4895 - loss: 0.6965
Epoch 3/10
16/16 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.4471 - loss: 0.6958
Epoch 4/10
16/16 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.4578 - loss: 0.7017
Epoch 5/10
16/16 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.4754 - loss: 0.6915
Epoch 6/10
16/16 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5379 - loss: 0.6931
Epoch 7/10
16/16 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5102 - loss: 0.6793
Epoch 8/10
16/16 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5803 - loss: 0.6879
Epoch 9/10
16/16 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.4893 - loss: 0.6936
Epoch 10/10
16/16 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5598 - loss: 0.6881

In [181]:
pr=ann.predict(x_test)

2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 56ms/step

In [182]:

prd_data=[]
for i in pr:
    if i[0]>0.6:
        prd_data.append(1)
    else:
        prd_data.append(0)

In [183]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,prd_data)

0.55